@{
    Layout = null;
}

<div class="col-lg-11 col-lg-offset-0-5">
    @*<div class="row color19">*@
        <h3 class="text-center">NOTA DE ENTREGA</h3>
        <input id="hdnEstado" type="hidden" style="display: block;" />

        <div id="target1" class="panel move panel-inverse active">
            <div class="panel-heading"><span class="glyphicon glyphicon-th" aria-hidden="true"></span>Lista de Nota de Entregas</div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <input href="#target2" id="btnNuevaNota" type="button" class="btn btn-sm btn-success target" value="Nueva Nota de Entrega" />
                    </div>
                </div>
                <div class="row m-b-10 m-t-10">
                    <div class="col-sm-11">
                        <div class="form-inline">
                            <div class="form-group m-r-40">
                                <label class="control-label m-r-5" for="status">Mostrar notas por:</label>
                                <select name="status" id="cmbNotaEstado" class="form-control">
                                    <option value="1" selected="">Pendiente</option>
                                    <option value="2">Pagado</option>
                                    <option value="3">Anulado</option>
                                </select>
                            </div>
                            <div class="form-group m-r-10">
                                <label class="control-label m-r-5" for="product_name">Buscar por:</label>
                                <select name="status" id="cmbTpoBsq" class="form-control">
                                    <option value="1" selected="">Nombre</option>
                                    <option value="2">Codigo Nota</option>
                                    <option value="3">DOI</option>
                                    <option value="4">Rango de Fecha</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" id="txtValor" class="form-control">
                                <div class="input-daterange input-group" id="dtRango" style="display: none;">
                                    <input id="txtFI" type="text" class="form-control" name="start">
                                    <span class="input-group-addon">al</span>
                                    <input id="txtFF" type="text" class="form-control" name="end">
                                </div>
                            </div>
                            <input id="btnBuscarNota" type="button" value="Buscar" class="btn btn-sm btn-primary">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div id="cntListaNotaEntrega" class="table-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*Formulario Nota de Entrega*@
        <div id="target2" class="panel move panel-inverse" data-sortable-id="form-stuff-1" style="display: none;">
            <div class="panel-heading">
                <h4 class="panel-title">Nueva Nota</h4>
            </div>
            <div class="panel-body" style="display: block;">
                <div class="row m-b-10">
                    <div class="col-lg-3">
                        <div class="form-inline">
                            <div class="form-group">
                                <label for="exampleInputName2">Código Nota</label>
                                <input type="text" class="form-control" id="txtCodNota" placeholder="" disabled>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-3 col-lg-3 text-center">
                        <input id="btnCobrarNota" type="button" class="btn btn-sm btn-danger m-r-5" value="S/. Cobrar">
                        <button id="btnConfirmarEntrega" type="button" class="btn btn-success btn-sm">
                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Confirmar Entrega
                        </button>
                    </div>
                    <div class="col-sm-3 col-lg-6 text-right">
                        <input id="btnAnularNota" type="button" class="btn btn-sm btn-danger m-r-5" value="Anular Nota"><input id="btnAnularBoleta" type="button" class="btn btn-sm btn-danger" value="Anular Boleta">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <form action="/NotaEntrega/RegistrarNotaEntrega" autocomplete="off" id="frmNotaEntrega" method="post">
                            <div class="row m-b-10">
                                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-3">
                                    <div class="form-inline ng-pristine ng-valid">
                                        <div class="form-group">
                                            <input type="text" class="form-control " id="txtBuscarCliente" placeholder="Buscar cliente...">
                                            <button id="btnBuscarPers" type="button" class="btn btn-sm btn-default" data-toggle="modal"><span class="glyphicon glyphicon-search"></span></button>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-5">
                                    <h3 class="m-t-10" style="margin-top: 7px; font-size: 18px;"><i class="glyphicon glyphicon-user m-r-10"></i>
                                        <input id="hdnPersId" type="hidden" name="oNotEnt.oPers.nPersId"><span id="lblNom"></span></h3>
                                </div>
                                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-2">
                                    <h3 class="m-t-10" style="margin-top: 7px; font-size: 18px;"><i class="glyphicon glyphicon-asterisk m-r-10"></i><span id="lblDOI"></span></h3>
                                </div>
                                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-2">
                                    <h3 class="m-t-10" style="margin-top: 7px; font-size: 18px;"><i class="glyphicon glyphicon-earphone m-r-10"></i><span id="lblTel"></span></h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-3">
                                    <div class="form-inline ng-pristine ng-valid">
                                        <div class="form-group">
                                            <input type="text" class="form-control " id="txtBuscarProducto" placeholder="Buscar producto...">
                                            <button id="btnBuscarProd" type="button" class="btn btn-sm btn-default" data-toggle="modal"><span class="glyphicon glyphicon-search"></span></button>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-5">
                                    <h3 class="m-t-10" style="margin-top: 7px; font-size: 18px;">

                                        <span id="lblProducto"></span>
                                    </h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-horizontal">
                                        <div class="form-group m-b-10">
                                            <label class="col-lg-2  control-label">Servicios</label>
                                            <div class="col-lg-6">
                                                <label class="checkbox-inline">
                                                    <input id="chkLav" type="checkbox" value="true">Lavado</label>
                                                <label class="checkbox-inline">
                                                    <input id="chkSec" type="checkbox" value="true">Secado</label>
                                                <label class="checkbox-inline">
                                                    <input id="chkPla" type="checkbox" value="true">Planchado</label>
                                            </div>
                                        </div>

                                        <div class="form-group m-b-10">
                                            <label class="col-lg-2  control-label">Cantidad</label>
                                            <div class="col-lg-3">
                                                <input type="text" id="txtCant" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group m-b-10">
                                            <label class="col-lg-2  control-label">Precio Unit.</label>
                                            <div class="col-lg-3">
                                                <input type="text" id="txtPrec" class="form-control" placeholder="" disabled="">
                                            </div>
                                        </div>
                                        <div class="form-group m-b-10">
                                            <label class="col-lg-2  control-label">Importe</label>
                                            <div class="col-lg-3">
                                                <input type="text" id="txtImp" class="form-control" placeholder="" disabled="">
                                            </div>
                                            <div class="col-lg-7">
                                                <input id="btnAgregar" type="button" class="btn btn-sm btn-success" value="Agregar">
                                                <input id="btnEditar" type="button" class="btn btn-sm btn-success" value="Editar">
                                                <input id="btnCancelar" type="button" class="btn btn-sm btn-success" value="Cancelar">
                                                <input id="btnEliminar" type="button" class="btn btn-sm btn-success" value="Eliminar">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-b-10">
                                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-12">
                                    <div id="cntRegProd" class="table-responsive">
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-lg-5 col-md-offset-4">
                                    <div class="form-horizontal">

                                        <div class="form-group m-b-10">
                                            <label class="col-md-3 control-label">F. Entrega</label>
                                            <div class="col-md-5">
                                                <input type="text" id="txtFechaEnt" name="oNotEnt.dFechaEntrega" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group m-b-10">
                                            <label class="col-md-3 control-label">Comentario</label>
                                            <div class="col-md-7">
                                                <textarea class="form-control" rows="4"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-horizontal">

                                        <div class="form-group m-b-10">
                                            <label class="col-md-6 control-label">Subtotal</label>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon">S/.</span>
                                                    <input type="text" id="txtSubTotal" name="oNotEnt.nNotaSubTotal" class="form-control" placeholder="0.00" readonly="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group m-b-10">
                                            <label class="col-md-6 control-label">Descuento</label>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon">S/.</span>
                                                    <input type="text" id="txtDescuento" name="oNotEnt.nNotaDescuento" class="form-control" placeholder="0.00">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group m-b-10">
                                            <label class="col-md-6 control-label">Anticipo</label>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon">S/.</span>
                                                    <input type="text" id="txtAnticipo" name="oNotEnt.nNotaAnticipo" class="form-control" placeholder="0.00">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group m-b-10">
                                            <label class="col-md-6 control-label">Total</label>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon">S/.</span>
                                                    <input type="text" id="txtTotal" name="oNotEnt.nNotaMontoTotal" class="form-control" placeholder="0.00" readonly="">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group text-right">
                                            <div class="col-md-6 ">
                                                <div class="input-group ">
                                                    <input id="btnGrabar" type="button" class="btn btn-sm btn-success" value="Guardar">
                                                </div>
                                            </div>
                                        </div>
                                        <div id="cntHidden"></div>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>