@{
    Layout = null;
}
<div class="col-lg-11 col-lg-offset-0-5">
@*<div>
    <a href="#target1" class="panel">Target 1</a><br/>
    <a href="#target2" class="panel">Target 2</a><br/>
</div>*@


    <div id="">
        @*<div class="row color19">*@
        <h3 class="text-center">CLIENTES</h3>
        <input id="hdnEstado" type="hidden" name="PersNat.oPers.nPersId" />
        <div id="target1" class="panel move panel-inverse active" style="display: block;">
            <div class="panel-heading"><span class="glyphicon glyphicon-th" aria-hidden="true"></span> Lista de Clientes</div>
            <div class="panel-body">
   
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <input href="#target2" id="btnNuevoCliente" type="button" class="btn btn-sm btn-success target" value="Nuevo Cliente" />
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="cntListaClientes" class="table-responsive">
                    </div>
                </div>
            </div>
        </div>
        <div id="cntHidden"></div>


        @*Otro formulario*@

        @*sdafsafasf*@
        <div id="target2" class="panel move panel-inverse" data-sortable-id="form-stuff-1" style="display: none;">
            <div class="panel-heading">
                <h4 class="panel-title">Nuevo Cliente</h4>
            </div>
            <div class="panel-body" style="display: block;">
                <div id="btnCliente" class="btn-group btn-group-justified" role="group" aria-label="Justified button group"> 
                    <a hre="#frmClienteNat" class="btn btn-default" role="button">Cliente Natural</a> 
                    <a hre="#frmClienteJur" class="btn btn-default" role="button">Cliente Juridico</a> 
                </div>
                <div>
                    <form action="/Cliente/RegistrarPersNatural" id="frmClienteNat" method="post" class="form-horizontal ng-pristine ng-valid">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Nombre</label>
                            <div class="col-md-9">
                                <input id="hdnPersNatId" type="hidden" name="PersNat.oPers.nPersId" />
                                <input type="text" id="txtNom" name="PersNat.cPersNatNombre" class="form-control" placeholder="Default input">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Apellido</label>
                            <div class="col-md-9">
                                <input type="text" id="txtApe" name="PersNat.cPersNatApellido" class="form-control" placeholder="Default input">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">DOI</label>
                            <div class="col-md-6">
                                <input type="text" id="txtDOI" name="PersNat.cPersNatDOI" class="form-control" placeholder="Default input">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Fecha de Nacimiento</label>
                            <div class="col-md-6">
                                <input type="text" id="txtFechaNac" name="PersNat.dPersNatNac" class="form-control" placeholder="dd/mm/yyyy">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Sexo</label>
                            <div class="col-md-9">
                                <label class="radio-inline">
                                    <input type="radio" name="PersNat.oPersNatSexo.cConstanteID" value="M" checked="">Masculino</label>
                                <label class="radio-inline">
                                    <input type="radio" name="PersNat.oPersNatSexo.cConstanteID" value="F">Femenino</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Email</label>
                            <div class="col-md-9">
                                <input type="text" id="txtNatEmail" name="PersNat.oPers.cPersEmail" class="form-control" placeholder="Default input">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Teléfono 1</label>
                            <div class="col-md-5">
                                <input type="text" id="txtNatTel1" name="PersNat.oPers.cPersTelefono1" class="form-control" placeholder="Default input">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Teléfono 2</label>
                            <div class="col-md-5">
                                <input type="text" id="txtNatTel2" name="PersNat.oPers.cPersTelefono2" class="form-control" placeholder="Default input">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Dirección</label>
                            <div class="col-md-9">
                                <input type="text" id="txtNatDir" name="PersNat.oPers.cPersDireccion" class="form-control" placeholder="Default input">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Ciudad</label>
                            <div class="col-md-5">
                                <select id="cmbNatCiudad" class="form-control">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Distrito</label>
                            <div class="col-md-5">
                                <select id="cmbNatDistrito" name="PersNat.oPers.oPersUbigeo.cConstanteID" class="form-control">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group">

                            <div class="col-md-9">
                                <input id="btnGrabarNat" type="button" class="btn btn-sm btn-success" value="Grabar" />
                            </div>
                        </div>
                    </form>
                    <form action="/Cliente/RegistrarPersJuridica" id="frmClienteJur" style="display: none;" method="post" class="form-horizontal ng-pristine ng-valid">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Empresa</label>
                            <div class="col-md-9">
                                <input id="hdnPersJurId" type="hidden" name="PersJur.oPers.nPersId" />
                                <input type="text" id="txtEmp" name="PersJur.cPersJurEmpresa" class="form-control" placeholder="Default input">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Representante</label>
                            <div class="col-md-9">
                                <input type="text" id="txtRep" name="PersJur.cPersJurRep" class="form-control" placeholder="Default input">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">RUC</label>
                            <div class="col-md-6">
                                <input type="text" id="txtRUC" name="PersJur.cPersJurRUC" class="form-control" placeholder="Default input">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Fecha de Constitución</label>
                            <div class="col-md-6">
                                <input type="text" id="txtFechaConst" name="PersJur.dPersJurFecConst" class="form-control" placeholder="dd/mm/yyyy">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Actividad</label>
                            <div class="col-md-5">
                                <select id="cmbActividad" name="PersJur.oPersJurActividad.cConstanteID" class="form-control">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Email</label>
                            <div class="col-md-9">
                                <input type="text" id="txtJurEmail" name="PersJur.oPers.cPersEmail" class="form-control" placeholder="Default input">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Teléfono 1</label>
                            <div class="col-md-5">
                                <input type="text" id="txtJurTel1" name="PersJur.oPers.cPersTelefono1" class="form-control" placeholder="Default input">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Teléfono 2</label>
                            <div class="col-md-5">
                                <input type="text" id="txtJurTel2" name="PersJur.oPers.cPersTelefono2" class="form-control" placeholder="Default input">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Dirección</label>
                            <div class="col-md-9">
                                <input type="text" id="txtJurDir" name="PersJur.oPers.cPersDireccion" class="form-control" placeholder="Default input">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Ciudad</label>
                            <div class="col-md-5">
                                <select id="cmbJurCiudad" class="form-control">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Distrito</label>
                            <div class="col-md-5">
                                <select id="cmbJurDistrito" name="PersJur.oPers.oPersUbigeo.cConstanteID" class="form-control">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group">

                            <div class="col-md-9">
                                <input id="btnGrabarJur" type="button" class="btn btn-sm btn-success" value="Grabar" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        @*        Registro Clientes Juridicos*@

@*        <div id="target3" class="panel panel-inverse" data-sortable-id="form-stuff-1">
            <div class="panel-heading">
                <h4 class="panel-title">Registrar Clientes</h4>
            </div>
            <div class="panel-body" style="display: block;">
                <form action="/Cliente/RegistrarPersJuridica" id="frmClienteJur" style="display: none;" method="post" class="form-horizontal ng-pristine ng-valid">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Empresa</label>
                        <div class="col-md-9">
                            <input id="hdnPersJurId" type="hidden" name="PersJur.oPers.nPersId" />
                            <input type="text" id="txtEmp" name="PersJur.cPersJurEmpresa" class="form-control" placeholder="Default input">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Representante</label>
                        <div class="col-md-9">
                            <input type="text" id="txtRep" name="PersJur.cPersJurRep" class="form-control" placeholder="Default input">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">RUC</label>
                        <div class="col-md-6">
                            <input type="text" id="txtRUC" name="PersJur.cPersJurRUC" class="form-control" placeholder="Default input">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Fecha de Constitución</label>
                        <div class="col-md-6">
                            <input type="text" id="txtFechaConst" name="PersJur.dPersJurFecConst" class="form-control" placeholder="Default input">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Actividad</label>
                        <div class="col-md-5">
                            <select id="cmbActividad" name="PersJur.oPersJurActividad.cConstanteID" class="form-control">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Email</label>
                        <div class="col-md-9">
                            <input type="text" id="txtJurEmail" name="PersJur.oPers.cPersEmail" class="form-control" placeholder="Default input">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Teléfono 1</label>
                        <div class="col-md-5">
                            <input type="text" id="txtJurTel1" name="PersJur.oPers.cPersTelefono1" class="form-control" placeholder="Default input">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Teléfono 2</label>
                        <div class="col-md-5">
                            <input type="text" id="txtJurTel2" name="PersJur.oPers.cPersTelefono2" class="form-control" placeholder="Default input">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Dirección</label>
                        <div class="col-md-9">
                            <input type="text" id="txtJurDir" name="PersJur.oPers.cPersDireccion" class="form-control" placeholder="Default input">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Ciudad</label>
                        <div class="col-md-5">
                            <select id="cmbJurCiudad" class="form-control">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Distrito</label>
                        <div class="col-md-5">
                            <select id="cmbJurDistrito" name="PersJur.oPers.oPersUbigeo.cConstanteID" class="form-control">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group">

                        <div class="col-md-9">
                            <input id="btnGrabarJur" type="button" class="btn btn-sm btn-success" value="Grabar" />
                        </div>
                    </div>
                </form>
            </div>
        </div>*@




    </div>
</div>

<script type="text/javascript">

    jQuery(function ($) {
        $("#txtFechaNac,#txtFechaConst").mask("99/99/9999", { placeholder: "dd/mm/yyyy" });

        $('input.target').click(function () {
            var $target = $($(this).attr('href')),
                $other = $target.siblings('.active');

            if (!$target.hasClass('active')) {
                $other.each(function (index, self) {
                    var $this = $(this);
                    $this.removeClass('active').animate({
                        left: $this.width()
                    }, 500).hide();
                });

                $target.addClass('active').show().css({
                    left: -($target.width())
                }).animate({
                    left: 0
                }, 500);
            }
        });

        $("#btnCliente a").click(function() {
            var $target = $($(this).attr('hre')),
                $other = $target.siblings();

            $target.show();
            $other.hide();
        });

    });


    $.fn.Conexion({
        direccion: '/Cliente/ListaClientes',
        datos: {},
        terminado: function (data) {

            $("#cntListaClientes").Tabla({
                tblId: "tblClientes",
                cabecera: "Codígo,Nombre,Sexo,DOI,Tipo,Teléfono,Dirección",
                campos: "id,nom,sexo,doi,tipo,tel1,direc",
                scrollVertical: "Si",
                cantRegVertical: 15,
                datos: JSON.parse(data)
            });


            $("#tblClientes tbody tr").bind("dblclick", function () {

                var nPersId = $(this).find("td").eq(0).html();
                var cTipo = $(this).find("td").eq(4).html();
                $("#hdnEstado").val("E");
                $('input.target')[0].click();

                $.fn.Conexion({
                    direccion: '/Cliente/CargoDatosCliente',
                    datos: { "nPersId": nPersId, "cTipo": cTipo },
                    terminado: function (data, textStatus, jqXHR) {
                        var oPers = JSON.parse(data);

                        if (cTipo == "N") {
                            $("#hdnPersNatId").val(oPers.oPers.id);
                            $("#txtNom").val(oPers.cNom);
                            $("#txtApe").val(oPers.cApe);
                            $("#txtDOI").val(oPers.cDOI);
                            $("#txtFechaNac").val(oPers.dNac);
                            $("#txtNatEmail").val(oPers.oPers.mail);
                            $("#txtNatTel1").val(oPers.oPers.tel1);
                            $("#txtNatTel2").val(oPers.oPers.tel2);
                            $("#txtNatDir").val(oPers.oPers.direc);
                        } else if (cTipo == "J") {
                            $("#hdnPersJurId").val(oPers.oPers.id);
                            $("#txtEmp").val(oPers.cEmpresa);
                            $("#txtRep").val(oPers.cRep);
                            $("#txtRUC").val(oPers.cRUC);
                            $("#txtFechaConst").val(oPers.dConst);
                            $("#txtJurEmail").val(oPers.oPers.mail);
                            $("#txtJurTel1").val(oPers.oPers.tel1);
                            $("#txtJurTel2").val(oPers.oPers.tel2);
                            $("#txtJurDir").val(oPers.oPers.direc);
                        }
                    },
                    bloqueo: false
                });
            });
        }
    });





    //Registrar Clientes Natural

    $("#btnGrabarNat").bind("click", function () {
        var form = $("#frmClienteNat");

        valores = form.serializeArray();

        $.fn.Conexion({
            direccion: form.attr("action"),
            datos: valores,
            terminado: function (data, textStatus, jqXHR) {
                Resultado(data);
            },
            bloqueo: true
        });

    });


    //Registrar Cliente Juridico

    $("#btnGrabarJur").bind("click", function () {
        var form = $("#frmClienteJur");

        valores = form.serializeArray();

        $.fn.Conexion({
            direccion: form.attr("action"),
            datos: valores,
            terminado: function (data, textStatus, jqXHR) {
                Resultado(data);
            },
            bloqueo: true
        });

    });


    function Resultado(dato) {
        if (dato != -1) {
            if ($("#hdnEstado").val() == "E") {
                $.fn.Mensaje({ titulo: "Mensaje", mensaje: "Se modificó el cliente correctamente" });
            } else {
                $.fn.Mensaje({ titulo: "Mensaje", mensaje: "Se registró el cliente correctamente" });
            }
        } else {
            $.fn.Mensaje({ titulo: "Mensaje", mensaje: "La operación no se realizó correctamente" });
        }
    }

</script>
