@{
    Layout = null;
}
<div class="col-lg-11 col-lg-offset-0-5">
    <div id="">
        <h3 class="text-center">USUARIOS</h3>
        <input id="hdnEstado" type="hidden" style="display: block;" />
        <div id="target1" class="panel panel-inverse active">
            <div class="panel-heading">Lista de Usuarios</div>
            <div class="panel-body">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <input href="#target2" id="btnNuevoUsuario" type="button" class="btn btn-sm btn-success target" value="Nuevo Usuario" />
                </div>


                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="cntListaUsuarios" class="table-responsive">
                    </div>
                </div>
            </div>
        </div>


        @*Otro formulario*@

        @*sdafsafasf*@
        <div id="target2" style="display: none;">
            <div class="panel panel-inverse" data-sortable-id="form-stuff-1">
                <div class="panel-heading">
                    <h4 class="panel-title">Datos Personales</h4>
                </div>
                <div class="panel-body">

                    <form method="post" class="form-horizontal ng-pristine ng-valid">
                        <div class="form-group">
                            <label class="col-md-3 control-label">DNI</label>
                            <div class="col-md-6 form-inline">
                                <input type="text" id="txtDNI" name="" class="form-control m-r-10" placeholder="Default input">
                                <input id="btnCargarDni" type="button" class="btn btn-sm btn-primary m-r-5" value="Cargar" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Nombre</label>
                            <div class="col-md-9">
                                <input type="text" id="txtNom" name="" class="form-control" placeholder="Default input">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Apellido</label>
                            <div class="col-md-9">
                                <input type="text" id="txtApe" name="" class="form-control" placeholder="Default input">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Fecha de Nacimiento</label>
                            <div class="col-md-6">
                                <input type="text" id="txtFechaNac" name="" class="form-control" placeholder="Default input">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Sexo</label>
                            <div class="col-md-9">
                                <label class="radio-inline">
                                    <input type="radio" name="" value="M" checked="">Masculino</label>
                                <label class="radio-inline">
                                    <input type="radio" name="" value="F">Femenino</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Email</label>
                            <div class="col-md-9">
                                <input type="text" id="txtNatEmail" name="" class="form-control" placeholder="Default input">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Teléfono 1</label>
                            <div class="col-md-5">
                                <input type="text" id="txtNatTel1" name="" class="form-control" placeholder="Default input">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Teléfono 2</label>
                            <div class="col-md-5">
                                <input type="text" id="txtNatTel2" name="" class="form-control" placeholder="Default input">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Dirección</label>
                            <div class="col-md-9">
                                <input type="text" id="txtNatDir" name="" class="form-control" placeholder="Default input">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Ciudad</label>
                            <div class="col-md-5">
                                <select id="cmbNatCiudad" class="form-control">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Distrito</label>
                            <div class="col-md-5">
                                <select id="cmbNatDistrito" name="" class="form-control">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>



            <div class="panel panel-inverse" data-sortable-id="form-stuff-1">
                <div class="panel-heading">
                    <h4 class="panel-title">Datos de Usuario</h4>
                </div>
                <div class="panel-body" style="display: block;">
                    <form action="/Usuario/RegistrarPersJuridica" id="frmUsuario" method="post" class="form-horizontal ng-pristine ng-valid">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Usuario</label>
                            <div class="col-md-9">
                                <input id="hdnPersId" type="hidden" name="PersJur.oPers.nPersId" />
                                <input type="text" id="txtEmp" name="PersJur.cPersJurEmpresa" class="form-control" placeholder="Default input">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Contraseña</label>
                            <div class="col-md-9">
                                <input type="text" id="txtRep" name="PersJur.cPersJurRep" class="form-control" placeholder="Default input">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Confirmar Contraseña</label>
                            <div class="col-md-6">
                                <input type="text" id="txtRUC" name="PersJur.cPersJurRUC" class="form-control" placeholder="Default input">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-9">
                                <input id="btnGrabarJur" type="button" class="btn btn-sm btn-success" value="Grabar" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>



    </div>
</div>

<script type="text/javascript">


    jQuery(function ($) {
        $('input.target').click(function () {
            vista($(this).attr('href'));
        });
    });

    var vista = function ($target) {
        var $target = $($target),
            $other = $target.siblings('.active');

        if (!$target.hasClass('active')) {
            $other.each(function (index, self) {
                var $this = $(this);
                $this.removeClass('active').animate({
                    left: $this.width()
                }, 500).hide();
            });

            $target.addClass('active').show().css({
                left: -($target.width())
            }).animate({
                left: 0
            }, 500);
        }
    };

    $.fn.Conexion({
        direccion: '/Usuario/ListaUsuarios',
        datos: {},
        terminado: function (data) {

            $("#cntListaUsuarios").Tabla({
                tblId: "tblUsuarios",
                cabecera: "Codígo,Usuario,Nombre,DOI,Teléfono,Dirección",
                campos: "oPersNat.oPers.id,cUsuNom,oPersNat.oPers.nom,oPersNat.oPers.doi,oPersNat.oPers.tel1,oPersNat.oPers.direc",
                scrollVertical: "Si",
                cantRegVertical: 8,
                datos: JSON.parse(data)
            });


            $("#tblClientes tbody tr").bind("dblclick", function () {

                var nPersId = $(this).find("td").eq(0).html();
                var cTipo = $(this).find("td").eq(3).html();
                $("#hdnEstado").val("E");

                $.fn.Conexion({
                    direccion: '/Cliente/CargoDatosCliente',
                    datos: { "nPersId": nPersId, "cTipo": cTipo },
                    terminado: function (data, textStatus, jqXHR) {
                        var oPers = JSON.parse(data);

                        if (cTipo == "N") {
                            $("#hdnPersNatId").val(oPers.oPers.id);
                            $("#txtNom").val(oPers.cNom);
                            $("#txtApe").val(oPers.cApe);
                            $("#txtDOI").val(oPers.cDOI);
                            $("#txtFechaNac").val(oPers.dNac);
                            $("#txtNatEmail").val(oPers.oPers.mail);
                            $("#txtNatTel1").val(oPers.oPers.tel1);
                            $("#txtNatTel2").val(oPers.oPers.tel2);
                            $("#txtNatDir").val(oPers.oPers.direc);
                        } else if (cTipo == "J") {
                            $("#hdnPersJurId").val(oPers.oPers.id);
                            $("#txtEmp").val(oPers.cEmpresa);
                            $("#txtRep").val(oPers.cRep);
                            $("#txtRUC").val(oPers.cRUC);
                            $("#txtFechaConst").val(oPers.dConst);
                            $("#txtJurEmail").val(oPers.oPers.mail);
                            $("#txtJurTel1").val(oPers.oPers.tel1);
                            $("#txtJurTel2").val(oPers.oPers.tel2);
                            $("#txtJurDir").val(oPers.oPers.direc);
                        }
                    },
                    bloqueo: true
                });
            });
        }
    });





    //Obtener Datos por DNI

    $("#btnCargarDni").bind("click", function () {
        var nPersId = $("#hdnPersId").val();
        var cDNI = $("#txtDNI").val();

        $.fn.Conexion({
            direccion: '/Usuario/CargoDatosUsuario',
            datos: { "nPersId": 0, "cDNI": cDNI },
            terminado: function (data, textStatus, jqXHR) {
                var oUsu = JSON.parse(data);

                $("#hdnPersNatId").val(oUsu.oPersNat.oPers.id);
                $("#txtNom").val(oUsu.oPersNat.cNom);
                $("#txtApe").val(oUsu.oPersNat.cApe);
                $("#txtFechaNac").val(oUsu.oPersNat.dNac);
                $("#txtNatEmail").val(oUsu.oPersNat.oPers.mail);
                $("#txtNatTel1").val(oUsu.oPersNat.oPers.tel1);
                $("#txtNatTel2").val(oUsu.oPersNat.oPers.tel2);
                $("#txtNatDir").val(oUsu.oPersNat.oPers.direc);
            },
            bloqueo: true
        });

    });


    //Registrar Cliente Juridico

    $("#btnGrabarJur").bind("click", function () {
        var form = $("#frmClienteJur");

        valores = form.serializeArray();

        $.fn.Conexion({
            direccion: form.attr("action"),
            datos: valores,
            terminado: function (data, textStatus, jqXHR) {
                Resultado(data);
            },
            bloqueo: true
        });

    });


    function Resultado(dato) {
        if (dato != -1) {
            if ($("#hdnEstado").val() == "E") {
                $.fn.Mensaje({ titulo: "Mensaje", mensaje: "Se modificó el cliente correctamente" });
            } else {
                $.fn.Mensaje({ titulo: "Mensaje", mensaje: "Se registró el cliente correctamente" });
            }
        } else {
            $.fn.Mensaje({ titulo: "Mensaje", mensaje: "La operación no se realizó correctamente" });
        }
    }

</script>
