@{
    Layout = null;
}
<div class="col-lg-11 col-lg-offset-0-5">
    <h3 class="text-center">USUARIOS</h3>
    <input id="hdnEstado" type="hidden" style="display: block;" />
    <div id="target1" class="panel move panel-inverse active">
        <div class="panel-heading">Lista de Usuarios</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6 ">
                    <input href="#target2" id="btnNuevoUsuario" type="button" class="btn btn-sm btn-success target" value="Nuevo Usuario" />
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="cntListaUsuarios" class="table-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-5 col-lg-offset-4">
    <div id="target2" class="move" style="display: none;">
        <div class="panel panel-inverse" data-sortable-id="form-stuff-1">
            <div class="panel-heading">
                <h4 class="panel-title">Datos Personales</h4>
            </div>
            <div class="panel-body">
                <div class="form-horizontal ng-pristine ng-valid">
                    <div class="form-group m-b-5">
                        <label class="col-md-4 control-label">DNI</label>
                        <div class="col-md-8 form-inline">
                            <input type="text" id="txtDNI" name="" class="form-control m-r-10">
                            <input id="btnCargarDni" type="button" class="btn btn-sm btn-primary m-r-5" value="Cargar" />
                        </div>
                    </div>
                    <div class="form-group m-b-5">
                        <label class="col-md-4 control-label">Nombre</label>
                        <div class="col-md-7">
                            <input type="text" id="txtNom" name="" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="form-group m-b-5">
                        <label class="col-md-4 control-label">Apellido</label>
                        <div class="col-md-7">
                            <input type="text" id="txtApe" name="" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="form-group m-b-5">
                        <label class="col-md-4 control-label">Fecha de Nacimiento</label>
                        <div class="col-md-3">
                            <input type="text" id="txtFechaNac" name="" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="form-group m-b-8">
                        <label class="col-md-4 control-label">Sexo</label>
                        <div class="col-md-7">
                            <label class="radio-inline">
                                <input type="radio" name="" value="M" disabled>Masculino</label>
                            <label class="radio-inline">
                                <input type="radio" name="" value="F" disabled>Femenino</label>
                        </div>
                    </div>
                    <div class="form-group m-b-5">
                        <label class="col-md-4 control-label">Teléfono 1</label>
                        <div class="col-md-4">
                            <input type="text" id="txtNatTel1" name="" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="form-group m-b-5">
                        <label class="col-md-4 control-label">Teléfono 2</label>
                        <div class="col-md-4">
                            <input type="text" id="txtNatTel2" name="" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="form-group m-b-5">
                        <label class="col-md-4 control-label">Dirección</label>
                        <div class="col-md-7">
                            <input type="text" id="txtNatDir" name="" class="form-control" disabled>
                        </div>
                    </div>

                    <div class="form-group m-b-5">
                        <label class="col-md-4 control-label">Ciudad</label>
                        <div class="col-md-4">
                            <select id="cmbNatCiudad" class="form-control" disabled>
                            </select>
                        </div>
                    </div>
                    <div class="form-group m-b-5">
                        <label class="col-md-4 control-label">Distrito</label>
                        <div class="col-md-4">
                            <select id="cmbNatDistrito" name="" class="form-control" disabled>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-inverse" data-sortable-id="form-stuff-1">
            <div class="panel-heading">
                <h4 class="panel-title">Datos de Usuario</h4>
            </div>
            <div class="panel-body" style="display: block;">
                <form action="/Usuario/RegistrarUsuario" id="frmUsuario" autocomplete="off" method="post" class="form-horizontal ng-pristine ng-valid">
                    <div class="form-group m-b-5">
                        <label class="col-md-4 control-label">Usuario</label>
                        <div class="col-md-3">
                            <input id="hdnPersId" type="hidden" name="PersJur.oPers.nPersId" />
                            <input type="text" id="txtEmp" name="PersJur.cPersJurEmpresa" class="form-control">
                        </div>
                    </div>
                    <div class="form-group m-b-5">
                        <label class="col-md-4 control-label">Contraseña</label>
                        <div class="col-md-4">
                            <input type="text" id="txtRep" name="PersJur.cPersJurRep" class="form-control">
                        </div>
                    </div>
                    <div class="form-group m-b-5">
                        <label class="col-md-4 control-label">Confirmar Contraseña</label>
                        <div class="col-md-4">
                            <input type="text" id="txtRUC" name="PersJur.cPersJurRUC" class="form-control">
                        </div>
                    </div>
                    <div class="row m-b-10 m-t-10">
                        <div class="text-center">
                            <input type="button" id="btnGrabarUsu" class="btn btn-sm btn-primary m-r-5" value="Grabar" />
                            <input type="button" id="btnCanUsu" data-dismiss="modal" aria-hidden="true" class="btn btn-sm btn-default m-r-5" value="Cancelar" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">


    jQuery(function ($) {
        $('input.target').click(function () {
            vista($(this).attr('href'));
        });
    });

    var vista = function ($target) {
        var $target = $($target),
            $other = $('.active');

        if (!$target.hasClass('active')) {
            $other.each(function (index, self) {
                var $this = $(this);
                $this.removeClass('active').animate({
                    left: $this.width()
                }, 500).hide();
            });

            $target.addClass('active').show().css({
                left: -($target.width())
            }).animate({
                left: 0
            }, 500);
        }
    };

    $.fn.Conexion({
        direccion: '/Usuario/ListaUsuarios',
        datos: {},
        terminado: function (data) {
            $("#cntListaUsuarios").Tabla({
                tblId: "tblUsuarios",
                cabecera: "Codígo,Usuario,Nombre,DOI,Teléfono,Dirección",
                campos: "oPersNat.oPers.id,cUsuNom,oPersNat.oPers.nom,oPersNat.oPers.doi,oPersNat.oPers.tel1,oPersNat.oPers.direc",
                scrollVertical: "Si",
                alinear: "C,C,L,C,C,L",
                cantRegVertical: 8,
                edit: true,
                dblClick: true,
                editEvent: function (fila) {
                    var nPersId = fila.find("td").eq(0).html();
                    var cDNI = fila.find("td").eq(3).html();
                    $("#hdnEstado").val("E");
                    $('input.target')[0].click();

                    $.fn.Conexion({
                        direccion: '/Usuario/CargarDatosUsuario',
                        datos: { "nPersId": nPersId, "cDNI": cDNI },
                        terminado: function (data, textStatus, jqXHR) {
                            var oUsu = JSON.parse(data);

                            $("#hdnPersNatId").val(oUsu.oPersNat.oPers.id);
                            $("#txtNom").val(oUsu.oPersNat.cNom);
                            $("#txtApe").val(oUsu.oPersNat.cApe);
                            $("#txtFechaNac").val(oUsu.oPersNat.dNac);
                            $("#txtNatEmail").val(oUsu.oPersNat.oPers.mail);
                            $("#txtNatTel1").val(oUsu.oPersNat.oPers.tel1);
                            $("#txtNatTel2").val(oUsu.oPersNat.oPers.tel2);
                            $("#txtNatDir").val(oUsu.oPersNat.oPers.direc);
                        },
                        bloqueo: true
                    });
                },
                datos: JSON.parse(data)
            });
        }
    });

    //Obtener Datos por DNI

    $("#btnCargarDni").bind("click", function () {
        var nPersId = $("#hdnPersId").val();
        var cDNI = $("#txtDNI").val();

        $.fn.Conexion({
            direccion: '/Usuario/CargarDatosUsuario',
            datos: { "nPersId": 0, "cDNI": cDNI },
            terminado: function (data, textStatus, jqXHR) {
                var oUsu = JSON.parse(data);

                $("#hdnPersNatId").val(oUsu.oPersNat.oPers.id);
                $("#txtNom").val(oUsu.oPersNat.cNom);
                $("#txtApe").val(oUsu.oPersNat.cApe);
                $("#txtFechaNac").val(oUsu.oPersNat.dNac);
                $("#txtNatEmail").val(oUsu.oPersNat.oPers.mail);
                $("#txtNatTel1").val(oUsu.oPersNat.oPers.tel1);
                $("#txtNatTel2").val(oUsu.oPersNat.oPers.tel2);
                $("#txtNatDir").val(oUsu.oPersNat.oPers.direc);
            },
            bloqueo: true
        });

    });


    //Registrar Usuario

    $("#btnGrabarUsu").bind("click", function () {
        var form = $("#frmUsuario");

        valores = form.serializeArray();

        $.fn.Conexion({
            direccion: form.attr("action"),
            datos: valores,
            terminado: function (data, textStatus, jqXHR) {
                Resultado(data);
            },
            bloqueo: true
        });

    });


    function Resultado(dato) {
        if (dato != -1) {
            if ($("#hdnEstado").val() == "E") {
                $.fn.Mensaje({ titulo: "Mensaje", mensaje: "Se modificó el cliente correctamente" });
            } else {
                $.fn.Mensaje({ titulo: "Mensaje", mensaje: "Se registró el cliente correctamente" });
            }
        } else {
            $.fn.Mensaje({ titulo: "Mensaje", mensaje: "La operación no se realizó correctamente" });
        }
    }

</script>
