
@using CHUYAChuya.Web.Models;
@using CHUYAChuya.EntidadesNegocio;
@model CajeroCaja
@{}


<div class="col-lg-4 col-lg-offset-4">
    <div id="vtnConfIniCaja" class="panel move panel-inverse m-t-10" data-sortable-id="form-stuff-1" style="left: 0px;">
        <div class="panel-heading">
            <h4 class="panel-title">Confirmar Asignación de Efectivo</h4>
        </div>
        <div class="panel-body" style="display: block;">
            <form id="frmAperturaCaja" class="form-horizontal ng-pristine ng-valid">
                <div id="cntApertura">                 
                    <div class="form-group m-b-5">
                        <label class="col-md-4 control-label">Monto Asignado</label>
                        <div class="col-md-7">
                            <input type="hidden" id="hdnCCId" value="@Model.nCajeroCajaId" />
                            <input type="text" id="txtEfeIni" name="" class="form-control" value="@Model.nCajeCaMontoInicial.ToString("#,##0.00")" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center">
                        <input type="button" id="btnAceptarCon" class="btn btn-sm btn-primary m-r-5" value="Confirmar Entrega">
                        
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">

    @section Scripts {

    ejecutar();
        function ejecutar() {
            $("#side-menu li a").attr("disabled", true);
            $("#side-menu li a").last().attr("disabled", false);
        }

        $("#btnAceptarCon").bind("click", function () {
            ConfirEntDinero();
        });

        function Recargar() {
            location.reload();
        }

        function ConfirEntDinero() {


            var nCCId = $("#hdnCCId").val();

            $.fn.Conexion({
                direccion: "/Caja/RegistrarConfDineroIni",
                datos: { "nCCId": nCCId },
                terminado: function (data, textStatus, jqXHR) {
                    if (data >= 1) {
                        $.fn.Mensaje({ titulo: "Mensaje", mensaje: "Se realizó la confirmación del monto entregado correctamente. Puede comenzar a realizar sus operaciones.", funcionAceptar: Recargar, funcionCerrar: Recargar });
                    } else if (data == -2) {
                        $.fn.Mensaje({ titulo: "Mensaje", mensaje: "La operación no se realizó correctamente." });
                    }
                },
                bloqueo: true
            });
        }
    }
</script>
