@{
    Layout = null;
}
<div class="col-lg-11 col-lg-offset-0-5">
    @*<div class="row color19">*@
    <h3 class="text-center">NOTA DE ENTREGA</h3>
    <input id="hdnEstado" type="hidden" />
    <input id="hdnNotaEst" type="hidden" />
    <div id="target1" class="panel move panel-inverse active">
        <div class="panel-heading"><span class="glyphicon glyphicon-th" aria-hidden="true"></span>Lista de Nota de Entregas</div>
        <div class="panel-body">

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <input href="#target2" id="btnNuevaNota" type="button" class="btn btn-sm btn-success target" value="Nueva Nota de Entrega" />
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="row m-b-10 m-t-10">
                <div class="col-sm-11">
                    <div class="form-inline">
                        <div class="form-group m-r-40">
                            <label class="control-label m-r-5" for="status">Mostrar notas por:</label>
                            <select name="status" id="cmbNotaEstado" class="form-control">
                                <option value="1" selected="">Pendiente</option>
                                <option value="2">Pagado</option>
                                <option value="3">Entregado</option>
                                <option value="4">Anulado</option>
                            </select>
                        </div>
                        <div class="form-group m-r-10">
                            <label class="control-label m-r-5" for="product_name">Buscar por:</label>
                            <select name="status" id="cmbTpoBsq" class="form-control">
                                <option value="1" selected="">Nombre</option>
                                <option value="2">Codigo Nota</option>
                                <option value="3">DOI</option>
                                <option value="4">Rango de Fecha</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" id="txtValor" class="form-control">
                            <div class="input-daterange input-group" id="dtRango" style="display: none;">
                                <input id="txtFI" type="text" class="form-control" name="start">
                                <span class="input-group-addon">al</span>
                                <input id="txtFF" type="text" class="form-control" name="end">
                            </div>
                        </div>
                        <input id="btnBuscarNota" type="button" value="Buscar" class="btn btn-sm btn-primary">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="cntListaNotaEntrega" class="table-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Formulario Nota de Entrega*@
    <div id="target2" class="panel move panel-inverse" data-sortable-id="form-stuff-1" style="display: none;">
        <div class="panel-heading">
            <h4 class="panel-title">Nueva Nota de Entrega</h4>
        </div>
        <div class="panel-body" style="display: block;">
            <div class="row m-b-10">
                <div class="col-lg-3">
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="exampleInputName2">Código Nota</label>
                            <input type="text" class="form-control" id="txtCodNota" placeholder="" disabled>
                        </div>
                    </div>

                </div>
                <div class="col-sm-3 col-lg-3 text-center">
                    <input id="btnCobrarNota" type="button" class="btn btn-sm btn-danger m-r-5" value="S/. Cobrar" disabled>
                    <button id="btnConfirmarEntrega" type="button" class="btn btn-success btn-sm" disabled>
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>Confirmar Entrega
                    </button>
                </div>
                <div class="col-sm-3 col-lg-6 text-right">
                    <input id="btnAnularNota" type="button" class="btn btn-sm btn-danger m-r-5" value="Anular Nota" disabled>
                    <input id="btnAnularBoleta" type="button" class="btn btn-sm btn-danger" value="Anular Boleta" disabled>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="row">
                <div class="col-lg-12">
                    <form action="/NotaEntrega/RegistrarNotaEntrega" autocomplete="off" id="frmNotaEntrega" method="post">
                        <div class="row m-b-5">
                            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-3">
                                <div class="form-inline ng-pristine ng-valid">
                                    <div class="form-group">
                                        <input type="text" class="form-control " id="txtBuscarCliente" placeholder="Buscar cliente...">
                                        <button id="btnBuscarPers" type="button" class="btn btn-sm btn-default" data-toggle="modal"><span class="glyphicon glyphicon-search"></span></button>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-5">
                                <h3 class="m-t-10 m-b-5" style="margin-top: 7px; font-size: 18px;"><i class="glyphicon glyphicon-user m-r-10"></i>
                                    <input id="hdnPersId" type="hidden" name="oNotEnt.oPers.nPersId"><span id="lblNom"></span></h3>
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-2">
                                <h3 class="m-t-10 m-b-5" style="margin-top: 7px; font-size: 18px;"><i class="glyphicon glyphicon-asterisk m-r-10"></i><span id="lblDOI"></span></h3>
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-2">
                                <h3 class="m-t-10 m-b-5" style="margin-top: 7px; font-size: 18px;"><i class="glyphicon glyphicon-earphone m-r-10"></i><span id="lblTel"></span></h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-3">
                                <div class="form-inline ng-pristine ng-valid">
                                    <div class="form-group">
                                        <input type="text" class="form-control " id="txtBuscarProducto" placeholder="Buscar producto...">
                                        <button id="btnBuscarProd" type="button" class="btn btn-sm btn-default" data-toggle="modal"><span class="glyphicon glyphicon-search"></span></button>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-5">
                                <h3 class="m-t-10" style="margin-top: 7px; font-size: 18px;">

                                    <span id="lblProducto"></span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-horizontal">
                                    <div class="form-group m-b-5">
                                        <label class="col-lg-2  control-label">Servicios</label>
                                        <div class="col-lg-6">
                                            <label class="checkbox-inline">
                                                <input id="chkLav" type="checkbox" value="true">Lavado</label>
                                            <label class="checkbox-inline">
                                                <input id="chkSec" type="checkbox" value="true">Secado</label>
                                            <label class="checkbox-inline">
                                                <input id="chkPla" type="checkbox" value="true">Planchado</label>
                                        </div>
                                    </div>

                                    <div class="form-group m-b-5">
                                        <label class="col-lg-2  control-label">Cantidad</label>
                                        <div class="col-lg-3">
                                            <input type="text" id="txtCant" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group m-b-5">
                                        <label class="col-lg-2  control-label">Precio Unit.</label>
                                        <div class="col-lg-3">
                                            <input type="text" id="txtPrec" class="form-control" placeholder="" disabled="">
                                        </div>
                                    </div>
                                    <div class="form-group m-b-5">
                                        <label class="col-lg-2  control-label">Importe</label>
                                        <div class="col-lg-3">
                                            <input type="text" id="txtImp" class="form-control" placeholder="" disabled="">
                                        </div>
                                        <div class="col-lg-7">
                                            <input id="btnAgregar" type="button" class="btn btn-sm btn-success" value="Agregar">
                                            <input id="btnEditar" type="button" class="btn btn-sm btn-success" value="Editar">
                                            <input id="btnCancelar" type="button" class="btn btn-sm btn-success" value="Cancelar">
                                            <input id="btnEliminar" type="button" class="btn btn-sm btn-success" value="Eliminar">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-b-10">
                            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-12">
                                <div id="cntRegProd" class="table-responsive">
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-lg-5 col-md-offset-4">
                                <div class="form-horizontal">

                                    <div class="form-group m-b-5">
                                        <label class="col-md-3 control-label">F. Entrega</label>
                                        <div class="col-md-5">
                                            <input type="text" id="txtFechaEnt" name="oNotEnt.dFechaEntrega" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group m-b-5">
                                        <label class="col-md-3 control-label">Comentario</label>
                                        <div class="col-md-7">
                                            <textarea id="txtCom" name="oNotEnt.cNotaComentario" class="form-control" rows="4"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-horizontal">

                                    <div class="form-group m-b-5">
                                        <label class="col-md-6 control-label">Subtotal</label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">S/.</span>
                                                <input type="text" id="txtSubTotal" name="oNotEnt.nNotaSubTotal" class="form-control" placeholder="0.00" readonly="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-5">
                                        <label class="col-md-6 control-label">Descuento</label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">S/.</span>
                                                <input type="text" id="txtDescuento" name="oNotEnt.nNotaDescuento" class="form-control" placeholder="0.00">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-5">
                                        <label class="col-md-6 control-label">Anticipo</label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">S/.</span>
                                                <input type="text" id="txtAnticipo" name="oNotEnt.nNotaAnticipo" class="form-control" placeholder="0.00">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-5">
                                        <label class="col-md-6 control-label">Total</label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">S/.</span>
                                                <input type="text" id="txtTotal" name="oNotEnt.nNotaMontoTotal" class="form-control" placeholder="0.00" readonly="">
                                            </div>
                                        </div>
                                    </div>
                                    <div id="cntHidden"></div>

                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <input id="btnGrabarEnt" type="button" value="Guardar" class="btn btn-sm btn-primary target m-r-5">
                                <input id="btnCanEnt" type="button" value="Cancelar" class="btn btn-sm btn-default target">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="vntAnticipo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-focus-on="input:first">
    <div style="width: 250px;" class="modal-dialog">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                Cobrar Anticipo
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top: 0px;">×</button>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-horizontal">

                        <div class="form-group m-b-5">
                            <label class="col-md-4 control-label">Anticipo</label>
                            <div class="col-md-7">
                                <div class="input-group">
                                    <span class="input-group-addon">S/.</span>
                                    <input type="text" id="txtAnticipoT" class="form-control" placeholder="0.00" readonly="readonly">
                                </div>
                            </div>
                        </div>
                        <div class="form-group m-b-5">
                            <label class="col-md-4 control-label">Efectivo</label>
                            <div class="col-md-7">
                                <div class="input-group">
                                    <span class="input-group-addon">S/.</span>
                                    <input type="text" id="txtEfectivo" class="form-control" autocomplete="off" placeholder="0.00">
                                </div>
                            </div>
                        </div>
                        <div class="form-group m-b-10">
                            <label class="col-md-4 control-label">Cambio</label>
                            <div class="col-md-7">
                                <div class="input-group">
                                    <span class="input-group-addon">S/.</span>
                                    <input type="text" id="txtCambio" class="form-control" placeholder="0.00" readonly="readonly">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button id="btnAceptarAnt" type="submit" class="btn btn-sm btn-primary m-r-5">Aceptar</button>
                        <button id="btnCancelarAnt" type="submit" data-dismiss="modal" aria-hidden="true" class="btn btn-sm btn-default">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(function ($) {

        DeshabilitarBotones();
        SetRangoFecha("#dtRango");

        $('#txtFechaEnt').datetimepicker({
            locale: 'es', format: 'DD/MM/YYYY hh:mm A'
        });

        $('input.target').click(function () {
            vista($(this).attr('href'));
        });
    });

    var vista = function ($target) {
        var $target = $($target),
            $other = $target.siblings('.active');

        if (!$target.hasClass('active')) {
            $other.each(function (index, self) {
                var $this = $(this);
                $this.removeClass('active').animate({
                    left: $this.width()
                }, 500).hide();
            });

            $target.addClass('active').show().css({
                left: -($target.width())
            }).animate({
                left: 0
            }, 500);
        }
    };


    ListarNotaEntrega();

    function ListarNotaEntrega() {

        var nNotaEst, cPersDOI, nNotaEntId, cPersDesc, dIni, dFin;
        var tpoBsq = $("#cmbTpoBsq").val();
        var valor = $("#txtValor").val();
        valor = valor == "" ? null : valor;
        nNotaEst = $("#cmbNotaEstado").val();

        switch (tpoBsq) {
            case "1":
                {
                    cPersDesc = valor;
                    break;
                }
            case "2":
                {
                    nNotaEntId = valor;
                    break;
                }
            case "3":
                {
                    cPersDOI = valor;
                    break;
                }
            case "4":
                {
                    dIni = $("#txtFI").val();
                    dIni = dIni == "" ? null : dIni;
                    dFin = $("#txtFF").val();
                    dFin = dFin == "" ? null : dFin;
                    break;
                }
        }


        $.fn.Conexion({
            direccion: '/NotaEntrega/BuscarNotaEntregas',
            datos: { "nNotaEst": nNotaEst, "nNotaEntId": nNotaEntId, "cPersDOI": cPersDOI, "cPersDesc": cPersDesc, "dIni": dIni, "dFin": dFin },
            terminado: function (data) {

                $("#cntListaNotaEntrega").Tabla({
                    tblId: "tblNotaEntrega",
                    cabecera: "Cod. Nota,Cliente,DOI,Fecha Registro,Fecha Entrega,Monto Total",
                    campos: "nNotaEntId,oPers.nom,oPers.doi,dFecReg,dFecEnt,nNotaMonTot",
                    scrollVertical: "Si",
                    tipoCampo: ",,,,,D",
                    alinear: "C,C,C,C,C,C",
                    cantRegVertical: 8,
                    edit: true,
                    dblClick: true,
                    editEvent: function (fila) {
                        var nNotaId = fila.find("td").eq(0).html();
                        $("#hdnEstado").val("E");
                        $('input.target')[0].click();

                        $.fn.Conexion({
                            direccion: '/NotaEntrega/CargoDatosNotaEntrega',
                            datos: { "nNotaId": nNotaId },
                            terminado: function (data, textStatus, jqXHR) {
                                var oNota = JSON.parse(data);
                                $("#hdnPersId").val(oNota.oPers.id);
                                $("#hdnNotaEst").val(oNota.oNotaEst.id);
                                $("#lblNom").html(oNota.oPers.nom);
                                $("#lblDOI").html(oNota.oPers.doi);
                                $("#lblTel").html(oNota.oPers.tel1);
                                $("#txtCodNota").val(oNota.nNotaEntId);
                                $("#txtCom").val(oNota.cNotaCom);
                                $("#txtDescuento").val(oNota.nNotaDes);
                                $("#txtAnticipo").val(oNota.nNotaAnt);
                                $('#txtFechaEnt').val(moment(oNota.dFecEnt).format("DD/MM/YYYY hh:mm A"));

                                var lst = oNota.lstNotEntProd;
                                lstProd = [];

                                for (i in lst) {

                                    var obj = {
                                        nPrId: lst[i].oProd.nPrId,
                                        cPrDesc: lst[i].oProd.cPrDesc,
                                        bPrSerLav: lst[i].oProd.bPrSerLav,
                                        bPrSerPla: lst[i].oProd.bPrSerPla,
                                        bPrSerSec: lst[i].oProd.bPrSerSec,
                                        nCant: lst[i].nDetCant,
                                        nPrPrecU: lst[i].nPrPrecU,
                                        nImp: lst[i].nDetImp
                                    };
                                    lstProd = lstProd.concat([obj]);
                                }

                                lstProd = lstProd;

                                CrearTabla(lstProd);
                                subTotal(lstProd);
                            },
                            bloqueo: false
                        });
                    },
                    datos: JSON.parse(data)
                });
            }
        });
    }

    $("#cmbTpoBsq").bind("click", function () {
        var tpoProd = $(this).val();
        $("#txtValor").show();
        $("#dtRango").hide();
        if (tpoProd == 4) {
            $("#txtValor").hide();
            $("#dtRango").show();
        }
    });

    $("#cmbNotaEstado").change(function () {
        ListarNotaEntrega();
    });

    $("#btnBuscarNota").bind("click", function () {
        ListarNotaEntrega();
    });



    /*Variable Global de Datos*/
    datos = {};

    var lstProd = !datos.lstProd ? [] : datos.lstProd.slice(0);
    var estado = "";

    //Buscar datos persona

    var persSelec = {}

    function BuscarCliente(valor) {
        var aceptar = function (d) {
            persSelec = d;
            $("#hdnPersId").val(d.id);
            $("#lblNom").html(d.nom);
            $("#lblDOI").html(d.doi);
            $("#lblTel").html(d.tel1);
            $('#vntBuscaPersona').modal('hide');
        };

        var cancelar = function () {
            //$("#btnCancelar").click();
        }
        $.fn.BuscarPersona({
            funcionAceptar: aceptar,
            funcionCancelar: cancelar,
            valor: valor
        });
    }

    $("#btnBuscarPers").bind("click", function () {
        BuscarCliente($("#txtBuscarCliente").val());
    });

    $("#txtBuscarCliente").bind("keyup", function (e) {
        if (e.which == 13) { BuscarCliente($(this).val()); };
    });


    //Buscar datos producto
    $("#txtCant").keyup(function () { $("#txtImp").val(number_format(Math.round10($("#txtCant").val() * $("#txtPrec").val(), -1), 2)) });

    var prodSel = {}
    $("#btnBuscarProd").bind("click", function () {
        BuscarProd($("#txtBuscarProducto").val());
    });

    $("#txtBuscarProducto").bind("keyup", function (e) {
        if (e.which == 13) { BuscarProd($(this).val()); };
    });

    function BuscarProd(valor) {
        var aceptar = function (d) {
            prodSel = d;
            LlenarDatos(d);

            $('#btnAgregar,#btnCancelar').removeAttr("disabled", "disabled");
            $('#btnEliminar,#btnEditar').attr("disabled", true);
            $('#vntBuscaProducto').modal('hide');
        };

        var cancelar = function () {
            //$("#btnCancelar").click();
        }
        $.fn.BuscarProducto({
            funcionAceptar: aceptar,
            funcionCancelar: cancelar,
            valor: valor
        });
    }

    //Tabla Registro de Servicios

    CrearTabla();

    //Agregar nuevo registro

    $("#btnAgregar").bind("click", function () {
        Agregar();
    });

    $("#txtCant").bind("keyup", function (e) {
        if (e.which == 13 && prodSel != null) { Agregar(); };
    });

    $("#btnEditar").bind("click", function () {
        Editar();
    });

    $("#btnCancelar").bind("click", function () {
        Limpiar();
    });

    $("#btnEliminar").bind("click", function () {
        Eliminar();
    });

    $("#btnGrabarEnt").bind("click", function () {
        if ($('#txtAnticipo').val() != "") {
            $("#txtAnticipoT").val($("#txtAnticipo").val());
            $('#vntAnticipo').modal('show');
        } else {
            Grabar();
        }
    });

    $("#txtEfectivo").keyup(function () { $("#txtCambio").val(number_format(Math.round10($("#txtAnticipoT").val() - $("#txtEfectivo").val(), -1), 2)) });

    $("#btnAceptarAnt").bind("click", function () {
        CrearHidden("#cntHidden", "oNotEnt.nNotaEfectivo", $("#txtEfectivo").val());
        CrearHidden("#cntHidden", "oNotEnt.nNotaCambio", $("#txtCambio").val());
        Grabar();
    });


    function Agregar() {
        var nCant = $("#txtCant").val();
        var nPrPrecU = $("#txtPrec").val();
        var nImp = $("#txtImp").val();

        if (estado == "E") {
            var index = $("#tblRegProd tr.seleccionado").index();
            lstProd[index].nCant = nCant;
            lstProd[index].nImp = nImp;

        } else {

            var obj = { nPrId: prodSel.nPrId, cPrDesc: prodSel.cPrDesc, bPrSerLav: prodSel.bPrSerLav, bPrSerPla: prodSel.bPrSerPla, bPrSerSec: prodSel.bPrSerSec, nCant: nCant, nPrPrecU: nPrPrecU, nImp: nImp };
            lstProd = lstProd.concat([obj]);
        }

        CrearTabla(lstProd);
        subTotal(lstProd);
        Limpiar();

        $("#btnEliminar,#btnEditar").attr("disabled", false);

        //$("#btnAgregar,#btnEditar,#btnEliminar").show().removeClass("disabled");
        //$("#btnAceptar,#btnCancelar,#btnAceptarEdi").hide();
        //$("#txtCliente,#txtDoc,#txtNombre,#txtRuc").val("");
        estado = "A";
        prodSel = null;
    }

    function subTotal(lstProd) {
        var subTotal = 0
        for (i in lstProd) { subTotal = subTotal + (lstProd[i].nImp * 1) }
        $("#txtSubTotal").val(number_format(subTotal, 2));
        $("#txtTotal").val(number_format($("#txtSubTotal").val() - $("#txtDescuento").val() - $("#txtAnticipo").val(), 2));
    }

    $("#txtAnticipo").keyup(function () { $("#txtTotal").val(number_format(Math.round10($("#txtSubTotal").val() - $("#txtDescuento").val() - $("#txtAnticipo").val(), -1), 2)) });
    $("#txtDescuento").keyup(function () { $("#txtTotal").val(number_format(Math.round10($("#txtSubTotal").val() - $("#txtDescuento").val() - $("#txtAnticipo").val(), -1), 2)) });


    function Editar() {
        var index = $("#tblRegProd tr.seleccionado").index();

        if (index == -1) {
            $.fn.Mensaje({ mensaje: "Seleccione un producto para editar", tamano: "sm" });
            return false;
        } else {
            $("#lblProducto").html(lstProd[index].cDesc);
            estado = "E";
            LlenarDatos(lstProd[index]);

            //$("#btnEditar,#btnAgregar,#btnEliminar").hide();
            //$("#btnCancelar,#btnAceptarEdi").show();
            //$("#btnGrabar, #btnSalir").addClass("disabled");
            $("#tblRegProd").attr("data-edit", true);
            $("#btnEditar,#btnEliminar").attr("disabled", true);
            $("#btnAgregar,#btnCancelar").attr("disabled", false);
        }
    }


    function Limpiar() {
        $("#txtCant,#txtPrec,#txtImp,#txtBuscarProducto").val("");
        $("#lblProducto").html("")
        $("#chkLav,#chkSec,#chkPla").prop("checked", "");
        //$("#btnBuscarProd").focus();
        DeshabilitarBotones();
        $("#tblRegProd").attr("data-edit", false);
        estado = "";

        if (lstProd.length == 0) {
            $("#btnEliminar,#btnEditar").attr("disabled", true);
        } else {
            $("#btnEliminar,#btnEditar").attr("disabled", false);
        }

    }

    function DeshabilitarBotones() {
        $("#btnAgregar,#btnEditar,#btnEliminar,#btnCancelar").attr("disabled", "disabled");
    }

    function Eliminar() {
        var index = $("#tblRegProd tr.seleccionado").index();

        if (index == -1) {
            $.fn.Mensaje({ mensaje: "Seleccione un producto para eliminarlo", tamano: "sm" });
            return false;
        }
        else {
            lstProd.splice(index, 1);

            CrearTabla(lstProd);
            subTotal(lstProd);
        }
        Limpiar();
    }

    function LlenarDatos(d) {
        $("#lblProducto").html(d.cPrDesc);
        $("#txtPrec").val(number_format(d.nPrPrecU, 2));
        $("#txtCant").val(estado == "E" ? d.nCant : 1);
        $("#txtImp").val(number_format(Math.round10($("#txtCant").val() * $("#txtPrec").val(), -1), 2));
        $("#chkLav").prop("checked", d.bPrSerLav);
        $("#chkPla").prop("checked", d.bPrSerPla);
        $("#chkSec").prop("checked", d.bPrSerSec);
    }

    function CrearTabla(reg) {
        $("#cntRegProd").Tabla({
            tblId: "tblRegProd",
            cabecera: "Codígo,Descripción,Lavado,Secado,Planchado,Cantidad,Precio Unit,Importe",
            campos: "nPrId,cPrDesc,bPrSerLav,bPrSerPla,bPrSerSec,nCant,nPrPrecU,nImp",
            cellLen: "100,300,100,100,100,100,100,100",
            alinear: "C,L,C,C,C,C,R,R",
            scrollVertical: "Si",
            datos: reg
        });
    }


    //Grabar Nota Entrega

    function Grabar() {

        if (!(typeof (lstProd) == "undefined" || lstProd == null)) {
            if (!(jQuery.isEmptyObject(lstProd))) {
                for (i in lstProd) {
                    CrearHidden("#cntHidden", "oNotEnt.ListaNotaEntProd[" + i + "].oProd.nProdId", lstProd[i].nPrId);
                    CrearHidden("#cntHidden", "oNotEnt.ListaNotaEntProd[" + i + "].nDetCantidad", lstProd[i].nCant);
                    CrearHidden("#cntHidden", "oNotEnt.ListaNotaEntProd[" + i + "].nProdPrecioUnit", lstProd[i].nPrPrecU);
                    CrearHidden("#cntHidden", "oNotEnt.ListaNotaEntProd[" + i + "].nDetImporte", lstProd[i].nImp);
                }
            }
        }

        var form = $("#frmNotaEntrega");
        valores = form.serializeArray();

        $.fn.Conexion({
            direccion: form.attr("action"),
            datos: valores,
            terminado: function (data, textStatus, jqXHR) {
                $("#txtCodNota").val(data);
                Resultado(data);
            },
            bloqueo: true
        });
    }

    function Resultado(dato) {
        if (dato != -1) {
            if ($("#hdnEstado").val() == "E") {
                $.fn.Mensaje({ titulo: "Mensaje", mensaje: "Se modificó el producto correctamente", funcionAceptar: vista("#target1") });
            } else {
                $.fn.Mensaje({ titulo: "Mensaje", mensaje: "Se registró el producto correctamente", funcionAceptar: vista("#target1") });
            }
        } else {
            $.fn.Mensaje({ titulo: "Mensaje", mensaje: "La operación no se realizó correctamente" });
        }
    }




    //$("#btnAgregar,#btnEditar,#btnEliminar,#btnCancelar").attr("disabled", "disabled");

    //$("#btnAgregar").removeAttr("disabled", "disabled");

</script>
